.palette2.h1c {color: #FFFF9D;}
.palette2.h1bg {background: #FFFF9D;}
.palette2.h2c {color: #ACEBAE;}
.palette2.h2bg {background: #ACEBAE;}
.palette2.fillc {color: #C9DE55;}
.palette2.fillbg {background: #C9DE55;}
.palette2.s1c {color: #7D9100;}
.palette2.s1bg {background: #7D9100;}
.palette2.s2c {color: #354242;}
.palette2.s2bg {background: #354242;}
.palette1.h1c {color: #FFC887;}
.palette1.h1bg {background: #FFC887;}
.palette1.h2c {color: #FF8A00;}
.palette1.h2bg {background: #FF8A00;}
.palette1.fillc {color: #CC5400;}
.palette1.fillbg {background: #CC5400;}
.palette1.s1c {color: #B33600;}
.palette1.s1bg {background: #B33600;}
.palette1.s2c {color: #B31E00;}
.palette1.s2bg {background: #B31E00;}
.palette4.h1c {color: #D0E4F2;}
.palette4.h1bg {background: #D0E4F2;}
.palette4.h2c {color: #85A5CC;}
.palette4.h2bg {background: #85A5CC;}
.palette4.fillc {color: #4A6491;}
.palette4.fillbg {background: #4A6491;}
.palette4.s1c {color: #30395C;}
.palette4.s1bg {background: #30395C;}
.palette4.s2c {color: #1A1F2B;}
.palette4.s2bg {background: #1A1F2B;}
.palette5.h1c {color: #96ED89;}
.palette5.h1bg {background: #96ED89;}
.palette5.h2c {color: #45BF55;}
.palette5.h2bg {background: #45BF55;}
.palette5.fillc {color: #168039;}
.palette5.fillbg {background: #168039;}
.palette5.s1c {color: #044D29;}
.palette5.s1bg {background: #044D29;}
.palette5.s2c {color: #00261C;}
.palette5.s2bg {background: #00261C;}
.palette3.h1c {color: #ADD5F7;}
.palette3.h1bg {background: #ADD5F7;}
.palette3.h2c {color: #7FB2F0;}
.palette3.h2bg {background: #7FB2F0;}
.palette3.fillc {color: #4E7AC7;}
.palette3.fillbg {background: #4E7AC7;}
.palette3.s1c {color: #35478C;}
.palette3.s1bg {background: #35478C;}
.palette3.s2c {color: #16193B;}
.palette3.s2bg {background: #16193B;}
.palette8.h1c {color: #FFB733;}
.palette8.h1bg {background: #FFB733;}
.palette8.h2c {color: #F57336;}
.palette8.h2bg {background: #F57336;}
.palette8.fillc {color: #047878;}
.palette8.fillbg {background: #047878;}
.palette8.s1c {color: #C22121;}
.palette8.s1bg {background: #C22121;}
.palette8.s2c {color: #801637;}
.palette8.s2bg {background: #801637;}
.palette7.h1c {color: #FF6600;}
.palette7.h1bg {background: #FF6600;}
.palette7.h2c {color: #5E6D70;}
.palette7.h2bg {background: #5E6D70;}
.palette7.fillc {color: #C13B00;}
.palette7.fillbg {background: #C13B00;}
.palette7.s1c {color: #424E4F;}
.palette7.s1bg {background: #424E4F;}
.palette7.s2c {color: #1B1D1E;}
.palette7.s2bg {background: #1B1D1E;}
.palette10.h1c {color: #BDDFB3;}
.palette10.h1bg {background: #BDDFB3;}
.palette10.h2c {color: #2BAA9C;}
.palette10.h2bg {background: #2BAA9C;}
.palette10.fillc {color: #465F3F;}
.palette10.fillbg {background: #465F3F;}
.palette10.s1c {color: #2F2E2E;}
.palette10.s1bg {background: #2F2E2E;}
.palette10.s2c {color: #0F2625;}
.palette10.s2bg {background: #0F2625;}
.palette11.h1c {color: #FFFFA6;}
.palette11.h1bg {background: #FFFFA6;}
.palette11.h2c {color: #BDF271;}
.palette11.h2bg {background: #BDF271;}
.palette11.fillc {color: #29D9C2;}
.palette11.fillbg {background: #29D9C2;}
.palette11.s1c {color: #01A2A6;}
.palette11.s1bg {background: #01A2A6;}
.palette11.s2c {color: #2F2933;}
.palette11.s2bg {background: #2F2933;}
.palette6.h1c {color: #F6B1C3;}
.palette6.h1bg {background: #F6B1C3;}
.palette6.h2c {color: #F0788C;}
.palette6.h2bg {background: #F0788C;}
.palette6.fillc {color: #DE264C;}
.palette6.fillbg {background: #DE264C;}
.palette6.s1c {color: #BC0D35;}
.palette6.s1bg {background: #BC0D35;}
.palette6.s2c {color: #A20D1E;}
.palette6.s2bg {background: #A20D1E;}
.palette9.h1c {color: #CDDEC6;}
.palette9.h1bg {background: #CDDEC6;}
.palette9.h2c {color: #93A189;}
.palette9.h2bg {background: #93A189;}
.palette9.fillc {color: #4DAAAB;}
.palette9.fillbg {background: #4DAAAB;}
.palette9.s1c {color: #1E4F6A;}
.palette9.s1bg {background: #1E4F6A;}
.palette9.s2c {color: #2A423C;}
.palette9.s2bg {background: #2A423C;}
.palette12.h1c {color: #FFFFFF;}
.palette12.h1bg {background: #FFFFFF;}
.palette12.h2c {color: #DAEAEF;}
.palette12.h2bg {background: #DAEAEF;}
.palette12.fillc {color: #9DBDC6;}
.palette12.fillbg {background: #9DBDC6;}
.palette12.s1c {color: #FF3D2E;}
.palette12.s1bg {background: #FF3D2E;}
.palette12.s2c {color: #272F32;}
.palette12.s2bg {background: #272F32;}
.palette13.h1c {color: #F4CB89;}
.palette13.h1bg {background: #F4CB89;}
.palette13.h2c {color: #588C8C;}
.palette13.h2bg {background: #588C8C;}
.palette13.fillc {color: #D9042B;}
.palette13.fillbg {background: #D9042B;}
.palette13.s1c {color: #6B0C22;}
.palette13.s1bg {background: #6B0C22;}
.palette13.s2c {color: #011C26;}
.palette13.s2bg {background: #011C26;}
.palette15.h1c {color: #FFFFFF;}
.palette15.h1bg {background: #FFFFFF;}
.palette15.h2c {color: #D9E8F5;}
.palette15.h2bg {background: #D9E8F5;}
.palette15.fillc {color: #91BED4;}
.palette15.fillbg {background: #91BED4;}
.palette15.s1c {color: #F26101;}
.palette15.s1bg {background: #F26101;}
.palette15.s2c {color: #304269;}
.palette15.s2bg {background: #304269;}
.palette14.h1c {color: #F2E6B6;}
.palette14.h1bg {background: #F2E6B6;}
.palette14.h2c {color: #8F9E8B;}
.palette14.h2bg {background: #8F9E8B;}
.palette14.fillc {color: #5B7876;}
.palette14.fillbg {background: #5B7876;}
.palette14.s1c {color: #412A22;}
.palette14.s1bg {background: #412A22;}
.palette14.s2c {color: #292929;}
.palette14.s2bg {background: #292929;}
.palette18.h1c {color: #FFFFA6;}
.palette18.h1bg {background: #FFFFA6;}
.palette18.h2c {color: #BDF271;}
.palette18.h2bg {background: #BDF271;}
.palette18.fillc {color: #29D9C2;}
.palette18.fillbg {background: #29D9C2;}
.palette18.s1c {color: #01A2A6;}
.palette18.s1bg {background: #01A2A6;}
.palette18.s2c {color: #2F2933;}
.palette18.s2bg {background: #2F2933;}
.palette17.h1c {color: #EEEFF7;}
.palette17.h1bg {background: #EEEFF7;}
.palette17.h2c {color: #92CDCF;}
.palette17.h2bg {background: #92CDCF;}
.palette17.fillc {color: #445878;}
.palette17.fillbg {background: #445878;}
.palette17.s1c {color: #31353D;}
.palette17.s1bg {background: #31353D;}
.palette17.s2c {color: #1C1D21;}
.palette17.s2bg {background: #1C1D21;}
.palette16.h1c {color: #FFA644;}
.palette16.h1bg {background: #FFA644;}
.palette16.h2c {color: #998A2F;}
.palette16.h2bg {background: #998A2F;}
.palette16.fillc {color: #E64661;}
.palette16.fillbg {background: #E64661;}
.palette16.s1c {color: #2C594F;}
.palette16.s1bg {background: #2C594F;}
.palette16.s2c {color: #002D40;}
.palette16.s2bg {background: #002D40;}
.palette21.h1c {color: #FCF5BF;}
.palette21.h1bg {background: #FCF5BF;}
.palette21.h2c {color: #9FE5C2;}
.palette21.h2bg {background: #9FE5C2;}
.palette21.fillc {color: #CFCA4C;}
.palette21.fillbg {background: #CFCA4C;}
.palette21.s1c {color: #5EB299;}
.palette21.s1bg {background: #5EB299;}
.palette21.s2c {color: #745A33;}
.palette21.s2bg {background: #745A33;}
.palette20.h1c {color: #EFE4BD;}
.palette20.h1bg {background: #EFE4BD;}
.palette20.h2c {color: #BAB293;}
.palette20.h2bg {background: #BAB293;}
.palette20.fillc {color: #A39770;}
.palette20.fillbg {background: #A39770;}
.palette20.s1c {color: #A32500;}
.palette20.s1bg {background: #A32500;}
.palette20.s2c {color: #2B2922;}
.palette20.s2bg {background: #2B2922;}
.palette23.h1c {color: #E4F8FF;}
.palette23.h1bg {background: #E4F8FF;}
.palette23.h2c {color: #FFF0A3;}
.palette23.h2bg {background: #FFF0A3;}
.palette23.fillc {color: #B8CC6E;}
.palette23.fillbg {background: #B8CC6E;}
.palette23.s1c {color: #4B6000;}
.palette23.s1bg {background: #4B6000;}
.palette23.s2c {color: #004460;}
.palette23.s2bg {background: #004460;}
.palette24.h1c {color: #FFC200;}
.palette24.h1bg {background: #FFC200;}
.palette24.h2c {color: #BFBB11;}
.palette24.h2bg {background: #BFBB11;}
.palette24.fillc {color: #E88801;}
.palette24.fillbg {background: #E88801;}
.palette24.s1c {color: #C93C00;}
.palette24.s1bg {background: #C93C00;}
.palette24.s2c {color: #730046;}
.palette24.s2bg {background: #730046;}
.palette25.h1c {color: #FFFCC4;}
.palette25.h1bg {background: #FFFCC4;}
.palette25.h2c {color: #F0EDBB;}
.palette25.h2bg {background: #F0EDBB;}
.palette25.fillc {color: #FF3800;}
.palette25.fillbg {background: #FF3800;}
.palette25.s1c {color: #009393;}
.palette25.s1bg {background: #009393;}
.palette25.s2c {color: #00585F;}
.palette25.s2bg {background: #00585F;}
.palette19.h1c {color: #D9CB84;}
.palette19.h1bg {background: #D9CB84;}
.palette19.h2c {color: #A99E46;}
.palette19.h2bg {background: #A99E46;}
.palette19.fillc {color: #737D26;}
.palette19.fillbg {background: #737D26;}
.palette19.s1c {color: #3F522B;}
.palette19.s1bg {background: #3F522B;}
.palette19.s2c {color: #302B1D;}
.palette19.s2bg {background: #302B1D;}
.palette26.h1c {color: #FFFAD5;}
.palette26.h1bg {background: #FFFAD5;}
.palette26.h2c {color: #FFD34E;}
.palette26.h2bg {background: #FFD34E;}
.palette26.fillc {color: #DB9E36;}
.palette26.fillbg {background: #DB9E36;}
.palette26.s1c {color: #BD4932;}
.palette26.s1bg {background: #BD4932;}
.palette26.s2c {color: #105B63;}
.palette26.s2bg {background: #105B63;}
.palette28.h1c {color: #FF974F;}
.palette28.h1bg {background: #FF974F;}
.palette28.h2c {color: #A49A87;}
.palette28.h2bg {background: #A49A87;}
.palette28.fillc {color: #F77A52;}
.palette28.fillbg {background: #F77A52;}
.palette28.s1c {color: #644D52;}
.palette28.s1bg {background: #644D52;}
.palette28.s2c {color: #332532;}
.palette28.s2bg {background: #332532;}
.palette27.h1c {color: #EFECCA;}
.palette27.h1bg {background: #EFECCA;}
.palette27.h2c {color: #E6E2AF;}
.palette27.h2bg {background: #E6E2AF;}
.palette27.fillc {color: #A7A37E;}
.palette27.fillbg {background: #A7A37E;}
.palette27.s1c {color: #046380;}
.palette27.s1bg {background: #046380;}
.palette27.s2c {color: #002F2F;}
.palette27.s2bg {background: #002F2F;}
.palette30.h1c {color: #B39C85;}
.palette30.h1bg {background: #B39C85;}
.palette30.h2c {color: #FF5335;}
.palette30.h2bg {background: #FF5335;}
.palette30.fillc {color: #306E73;}
.palette30.fillbg {background: #306E73;}
.palette30.s1c {color: #3B424D;}
.palette30.s1bg {background: #3B424D;}
.palette30.s2c {color: #1D181F;}
.palette30.s2bg {background: #1D181F;}
.palette29.h1c {color: #FFC861;}
.palette29.h1bg {background: #FFC861;}
.palette29.h2c {color: #A5C77F;}
.palette29.h2bg {background: #A5C77F;}
.palette29.fillc {color: #C84663;}
.palette29.fillbg {background: #C84663;}
.palette29.s1c {color: #42826C;}
.palette29.s1bg {background: #42826C;}
.palette29.s2c {color: #002F32;}
.palette29.s2bg {background: #002F32;}
.palette31.h1c {color: #FEB41C;}
.palette31.h1bg {background: #FEB41C;}
.palette31.h2c {color: #5E7C88;}
.palette31.h2bg {background: #5E7C88;}
.palette31.fillc {color: #4B5F6D;}
.palette31.fillbg {background: #4B5F6D;}
.palette31.s1c {color: #363F45;}
.palette31.s1bg {background: #363F45;}
.palette31.s2c {color: #24221F;}
.palette31.s2bg {background: #24221F;}
.palette32.h1c {color: #F6E8B1;}
.palette32.h1bg {background: #F6E8B1;}
.palette32.h2c {color: #B0CC99;}
.palette32.h2bg {background: #B0CC99;}
.palette32.fillc {color: #B7CA79;}
.palette32.fillbg {background: #B7CA79;}
.palette32.s1c {color: #89725B;}
.palette32.s1bg {background: #89725B;}
.palette32.s2c {color: #677E52;}
.palette32.s2bg {background: #677E52;}
.palette34.h1c {color: #CAFCD8;}
.palette34.h1bg {background: #CAFCD8;}
.palette34.h2c {color: #F7E967;}
.palette34.h2bg {background: #F7E967;}
.palette34.fillc {color: #A9CF54;}
.palette34.fillbg {background: #A9CF54;}
.palette34.s1c {color: #04BFBF;}
.palette34.s1bg {background: #04BFBF;}
.palette34.s2c {color: #588F27;}
.palette34.s2bg {background: #588F27;}
.palette22.h1c {color: #FFFEF1;}
.palette22.h1bg {background: #FFFEF1;}
.palette22.h2c {color: #54D0ED;}
.palette22.h2bg {background: #54D0ED;}
.palette22.fillc {color: #70B85D;}
.palette22.fillbg {background: #70B85D;}
.palette22.s1c {color: #2C5E2E;}
.palette22.s1bg {background: #2C5E2E;}
.palette22.s2c {color: #0C273D;}
.palette22.s2bg {background: #0C273D;}
.palette33.h1c {color: #FFFF9D;}
.palette33.h1bg {background: #FFFF9D;}
.palette33.h2c {color: #BEEB9F;}
.palette33.h2bg {background: #BEEB9F;}
.palette33.fillc {color: #79BD8F;}
.palette33.fillbg {background: #79BD8F;}
.palette33.s1c {color: #FF6138;}
.palette33.s1bg {background: #FF6138;}
.palette33.s2c {color: #00A388;}
.palette33.s2bg {background: #00A388;}
.palette36.h1c {color: #FBF7E4;}
.palette36.h1bg {background: #FBF7E4;}
.palette36.h2c {color: #E7E8D1;}
.palette36.h2bg {background: #E7E8D1;}
.palette36.fillc {color: #D3CEAA;}
.palette36.fillbg {background: #D3CEAA;}
.palette36.s1c {color: #424242;}
.palette36.s1bg {background: #424242;}
.palette36.s2c {color: #8E001C;}
.palette36.s2bg {background: #8E001C;}
.palette37.h1c {color: #F2E1AC;}
.palette37.h1bg {background: #F2E1AC;}
.palette37.h2c {color: #F2836B;}
.palette37.h2bg {background: #F2836B;}
.palette37.fillc {color: #63A69F;}
.palette37.fillbg {background: #63A69F;}
.palette37.s1c {color: #F2594B;}
.palette37.s1bg {background: #F2594B;}
.palette37.s2c {color: #CD2C24;}
.palette37.s2bg {background: #CD2C24;}
.palette38.h1c {color: #EFEFEF;}
.palette38.h1bg {background: #EFEFEF;}
.palette38.h2c {color: #BDD4DE;}
.palette38.h2bg {background: #BDD4DE;}
.palette38.fillc {color: #FF530D;}
.palette38.fillbg {background: #FF530D;}
.palette38.s1c {color: #3F5765;}
.palette38.s1bg {background: #3F5765;}
.palette38.s2c {color: #2B3A42;}
.palette38.s2bg {background: #2B3A42;}
.palette40.h1c {color: #FFEB79;}
.palette40.h1bg {background: #FFEB79;}
.palette40.h2c {color: #A0E0A9;}
.palette40.h2bg {background: #A0E0A9;}
.palette40.fillc {color: #D9CC3C;}
.palette40.fillbg {background: #D9CC3C;}
.palette40.s1c {color: #00ADA7;}
.palette40.s1bg {background: #00ADA7;}
.palette40.s2c {color: #C24704;}
.palette40.s2bg {background: #C24704;}
.palette39.h1c {color: #F0C755;}
.palette39.h1bg {background: #F0C755;}
.palette39.h2c {color: #E2AD3B;}
.palette39.h2bg {background: #E2AD3B;}
.palette39.fillc {color: #BF5C00;}
.palette39.fillbg {background: #BF5C00;}
.palette39.s1c {color: #901811;}
.palette39.s1bg {background: #901811;}
.palette39.s2c {color: #5C110F;}
.palette39.s2bg {background: #5C110F;}
.palette41.h1c {color: #CEF09D;}
.palette41.h1bg {background: #CEF09D;}
.palette41.h2c {color: #B8ECD7;}
.palette41.h2bg {background: #B8ECD7;}
.palette41.fillc {color: #B1E001;}
.palette41.fillbg {background: #B1E001;}
.palette41.s1c {color: #476C5E;}
.palette41.s1bg {background: #476C5E;}
.palette41.s2c {color: #083643;}
.palette41.s2bg {background: #083643;}
.palette35.h1c {color: #F2D99C;}
.palette35.h1bg {background: #F2D99C;}
.palette35.h2c {color: #E5B96F;}
.palette35.h2bg {background: #E5B96F;}
.palette35.fillc {color: #CC2738;}
.palette35.fillbg {background: #CC2738;}
.palette35.s1c {color: #BF0426;}
.palette35.s1bg {background: #BF0426;}
.palette35.s2c {color: #690011;}
.palette35.s2bg {background: #690011;}
.palette42.h1c {color: #F6F792;}
.palette42.h1bg {background: #F6F792;}
.palette42.h2c {color: #DAEDE2;}
.palette42.h2bg {background: #DAEDE2;}
.palette42.fillc {color: #77C4D3;}
.palette42.fillbg {background: #77C4D3;}
.palette42.s1c {color: #EA2E49;}
.palette42.s1bg {background: #EA2E49;}
.palette42.s2c {color: #333745;}
.palette42.s2bg {background: #333745;}
.palette44.h1c {color: #FFFAE4;}
.palette44.h1bg {background: #FFFAE4;}
.palette44.h2c {color: #E8E595;}
.palette44.h2bg {background: #E8E595;}
.palette44.fillc {color: #D0A825;}
.palette44.fillbg {background: #D0A825;}
.palette44.s1c {color: #40627C;}
.palette44.s1bg {background: #40627C;}
.palette44.s2c {color: #26393D;}
.palette44.s2bg {background: #26393D;}
.palette46.h1c {color: #E9F1DF;}
.palette46.h1bg {background: #E9F1DF;}
.palette46.h2c {color: #4AD9D9;}
.palette46.h2bg {background: #4AD9D9;}
.palette46.fillc {color: #F5A503;}
.palette46.fillbg {background: #F5A503;}
.palette46.s1c {color: #36B1BF;}
.palette46.s1bg {background: #36B1BF;}
.palette46.s2c {color: #F2385A;}
.palette46.s2bg {background: #F2385A;}
.palette45.h1c {color: #EFE7BE;}
.palette45.h1bg {background: #EFE7BE;}
.palette45.h2c {color: #D97925;}
.palette45.h2bg {background: #D97925;}
.palette45.fillc {color: #AB1A25;}
.palette45.fillbg {background: #AB1A25;}
.palette45.s1c {color: #013440;}
.palette45.s1bg {background: #013440;}
.palette45.s2c {color: #002635;}
.palette45.s2bg {background: #002635;}
.palette47.h1c {color: #AEEE00;}
.palette47.h1bg {background: #AEEE00;}
.palette47.h2c {color: #01B0F0;}
.palette47.h2bg {background: #01B0F0;}
.palette47.fillc {color: #FF358B;}
.palette47.fillbg {background: #FF358B;}
.palette47.s1c {color: #333333;}
.palette47.s1bg {background: #333333;}
.palette47.s2c {color: #000000;}
.palette47.s2bg {background: #000000;}
.palette48.h1c {color: #E4FFE6;}
.palette48.h1bg {background: #E4FFE6;}
.palette48.h2c {color: #D4FF00;}
.palette48.h2bg {background: #D4FF00;}
.palette48.fillc {color: #00D6DD;}
.palette48.fillbg {background: #00D6DD;}
.palette48.s1c {color: #68776C;}
.palette48.s1bg {background: #68776C;}
.palette48.s2c {color: #13140F;}
.palette48.s2bg {background: #13140F;}
.palette50.h1c {color: #FFF8E3;}
.palette50.h1bg {background: #FFF8E3;}
.palette50.h2c {color: #CCCC9F;}
.palette50.h2bg {background: #CCCC9F;}
.palette50.fillc {color: #9FB4CC;}
.palette50.fillbg {background: #9FB4CC;}
.palette50.s1c {color: #DB4105;}
.palette50.s1bg {background: #DB4105;}
.palette50.s2c {color: #33332D;}
.palette50.s2bg {background: #33332D;}
.palette43.h1c {color: #F2EBC7;}
.palette43.h1bg {background: #F2EBC7;}
.palette43.h2c {color: #979C9C;}
.palette43.h2bg {background: #979C9C;}
.palette43.fillc {color: #348899;}
.palette43.fillbg {background: #348899;}
.palette43.s1c {color: #962D3E;}
.palette43.s1bg {background: #962D3E;}
.palette43.s2c {color: #343642;}
.palette43.s2bg {background: #343642;}
.palette49.h1c {color: #E3CDA4;}
.palette49.h1bg {background: #E3CDA4;}
.palette49.h2c {color: #C77966;}
.palette49.h2bg {background: #C77966;}
.palette49.fillc {color: #7E827A;}
.palette49.fillbg {background: #7E827A;}
.palette49.s1c {color: #703030;}
.palette49.s1bg {background: #703030;}
.palette49.s2c {color: #2F343B;}
.palette49.s2bg {background: #2F343B;}
.palette52.h1c {color: #B4AF91;}
.palette52.h1bg {background: #B4AF91;}
.palette52.h2c {color: #787746;}
.palette52.h2bg {background: #787746;}
.palette52.fillc {color: #C03000;}
.palette52.fillbg {background: #C03000;}
.palette52.s1c {color: #40411E;}
.palette52.s1bg {background: #40411E;}
.palette52.s2c {color: #32331D;}
.palette52.s2bg {background: #32331D;}
.palette53.h1c {color: #FCFFF5;}
.palette53.h1bg {background: #FCFFF5;}
.palette53.h2c {color: #D1DBBD;}
.palette53.h2bg {background: #D1DBBD;}
.palette53.fillc {color: #91AA9D;}
.palette53.fillbg {background: #91AA9D;}
.palette53.s1c {color: #3E606F;}
.palette53.s1bg {background: #3E606F;}
.palette53.s2c {color: #193441;}
.palette53.s2bg {background: #193441;}
.palette51.h1c {color: #FFF6C5;}
.palette51.h1bg {background: #FFF6C5;}
.palette51.h2c {color: #A1E8D9;}
.palette51.h2bg {background: #A1E8D9;}
.palette51.fillc {color: #CFC291;}
.palette51.fillbg {background: #CFC291;}
.palette51.s1c {color: #FF712C;}
.palette51.s1bg {background: #FF712C;}
.palette51.s2c {color: #695D46;}
.palette51.s2bg {background: #695D46;}
.palette54.h1c {color: #F2D03B;}
.palette54.h1bg {background: #F2D03B;}
.palette54.h2c {color: #47D9BF;}
.palette54.h2bg {background: #47D9BF;}
.palette54.fillc {color: #00A1D9;}
.palette54.fillbg {background: #00A1D9;}
.palette54.s1c {color: #04518C;}
.palette54.s1bg {background: #04518C;}
.palette54.s2c {color: #003056;}
.palette54.s2bg {background: #003056;}
.palette55.h1c {color: #FFF6E5;}
.palette55.h1bg {background: #FFF6E5;}
.palette55.h2c {color: #7ECEFD;}
.palette55.h2bg {background: #7ECEFD;}
.palette55.fillc {color: #FF7F66;}
.palette55.fillbg {background: #FF7F66;}
.palette55.s1c {color: #2185C5;}
.palette55.s1bg {background: #2185C5;}
.palette55.s2c {color: #3E454C;}
.palette55.s2bg {background: #3E454C;}
.palette57.h1c {color: #F2F2F2;}
.palette57.h1bg {background: #F2F2F2;}
.palette57.h2c {color: #C6E070;}
.palette57.h2bg {background: #C6E070;}
.palette57.fillc {color: #91C46C;}
.palette57.fillbg {background: #91C46C;}
.palette57.s1c {color: #287D7D;}
.palette57.s1bg {background: #287D7D;}
.palette57.s2c {color: #1C344D;}
.palette57.s2bg {background: #1C344D;}
.palette56.h1c {color: #FCFAE6;}
.palette56.h1bg {background: #FCFAE6;}
.palette56.h2c {color: #E7E9D1;}
.palette56.h2bg {background: #E7E9D1;}
.palette56.fillc {color: #D3D4AA;}
.palette56.fillbg {background: #D3D4AA;}
.palette56.s1c {color: #444444;}
.palette56.s1bg {background: #444444;}
.palette56.s2c {color: #901808;}
.palette56.s2bg {background: #901808;}
.palette59.h1c {color: #F5F6D4;}
.palette59.h1bg {background: #F5F6D4;}
.palette59.h2c {color: #CDE855;}
.palette59.h2bg {background: #CDE855;}
.palette59.fillc {color: #85DB18;}
.palette59.fillbg {background: #85DB18;}
.palette59.s1c {color: #A7C520;}
.palette59.s1bg {background: #A7C520;}
.palette59.s2c {color: #493F0B;}
.palette59.s2bg {background: #493F0B;}
.palette61.h1c {color: #FFFFFF;}
.palette61.h1bg {background: #FFFFFF;}
.palette61.h2c {color: #ACCFCC;}
.palette61.h2bg {background: #ACCFCC;}
.palette61.fillc {color: #B8AE9C;}
.palette61.fillbg {background: #B8AE9C;}
.palette61.s1c {color: #595241;}
.palette61.s1bg {background: #595241;}
.palette61.s2c {color: #8A0917;}
.palette61.s2bg {background: #8A0917;}
.palette60.h1c {color: #FCFAE1;}
.palette60.h1bg {background: #FCFAE1;}
.palette60.h2c {color: #F6E497;}
.palette60.h2bg {background: #F6E497;}
.palette60.fillc {color: #BD8D46;}
.palette60.fillbg {background: #BD8D46;}
.palette60.s1c {color: #B9121B;}
.palette60.s1bg {background: #B9121B;}
.palette60.s2c {color: #4C1B1B;}
.palette60.s2bg {background: #4C1B1B;}
.palette63.h1c {color: #FFF0A5;}
.palette63.h1bg {background: #FFF0A5;}
.palette63.h2c {color: #FFB03B;}
.palette63.h2bg {background: #FFB03B;}
.palette63.fillc {color: #468966;}
.palette63.fillbg {background: #468966;}
.palette63.s1c {color: #B64926;}
.palette63.s1bg {background: #B64926;}
.palette63.s2c {color: #8E2800;}
.palette63.s2bg {background: #8E2800;}
.palette64.h1c {color: #FFD933;}
.palette64.h1bg {background: #FFD933;}
.palette64.h2c {color: #CCCC52;}
.palette64.h2bg {background: #CCCC52;}
.palette64.fillc {color: #8FB359;}
.palette64.fillbg {background: #8FB359;}
.palette64.s1c {color: #FF8000;}
.palette64.s1bg {background: #FF8000;}
.palette64.s2c {color: #192B33;}
.palette64.s2bg {background: #192B33;}
.palette58.h1c {color: #FFFFFF;}
.palette58.h1bg {background: #FFFFFF;}
.palette58.h2c {color: #CDFF00;}
.palette58.h2bg {background: #CDFF00;}
.palette58.fillc {color: #B8B89F;}
.palette58.fillbg {background: #B8B89F;}
.palette58.s1c {color: #FF3B77;}
.palette58.s1bg {background: #FF3B77;}
.palette58.s2c {color: #52656B;}
.palette58.s2bg {background: #52656B;}
.palette62.h1c {color: #ED8C2B;}
.palette62.h1bg {background: #ED8C2B;}
.palette62.h2c {color: #88A825;}
.palette62.h2bg {background: #88A825;}
.palette62.fillc {color: #CF4A30;}
.palette62.fillbg {background: #CF4A30;}
.palette62.s1c {color: #911146;}
.palette62.s1bg {background: #911146;}
.palette62.s2c {color: #35203B;}
.palette62.s2bg {background: #35203B;}
.palette65.h1c {color: #ECF0F1;}
.palette65.h1bg {background: #ECF0F1;}
.palette65.h2c {color: #3498DB;}
.palette65.h2bg {background: #3498DB;}
.palette65.fillc {color: #E74C3C;}
.palette65.fillbg {background: #E74C3C;}
.palette65.s1c {color: #2980B9;}
.palette65.s1bg {background: #2980B9;}
.palette65.s2c {color: #2C3E50;}
.palette65.s2bg {background: #2C3E50;}
.palette66.h1c {color: #F3FFE2;}
.palette66.h1bg {background: #F3FFE2;}
.palette66.h2c {color: #ACF0F2;}
.palette66.h2bg {background: #ACF0F2;}
.palette66.fillc {color: #EB7F00;}
.palette66.fillbg {background: #EB7F00;}
.palette66.s1c {color: #1695A3;}
.palette66.s1bg {background: #1695A3;}
.palette66.s2c {color: #225378;}
.palette66.s2bg {background: #225378;}
.palette68.h1c {color: #F2E394;}
.palette68.h1bg {background: #F2E394;}
.palette68.h2c {color: #F2AE72;}
.palette68.h2bg {background: #F2AE72;}
.palette68.fillc {color: #D96459;}
.palette68.fillbg {background: #D96459;}
.palette68.s1c {color: #588C7E;}
.palette68.s1bg {background: #588C7E;}
.palette68.s2c {color: #8C4646;}
.palette68.s2bg {background: #8C4646;}
.palette67.h1c {color: #EFD8A1;}
.palette67.h1bg {background: #EFD8A1;}
.palette67.h2c {color: #AFD7DB;}
.palette67.h2bg {background: #AFD7DB;}
.palette67.fillc {color: #BCD693;}
.palette67.fillbg {background: #BCD693;}
.palette67.s1c {color: #AF7575;}
.palette67.s1bg {background: #AF7575;}
.palette67.s2c {color: #3D9CA8;}
.palette67.s2bg {background: #3D9CA8;}
.palette70.h1c {color: #FFEEAD;}
.palette70.h1bg {background: #FFEEAD;}
.palette70.h2c {color: #FFCC5C;}
.palette70.h2bg {background: #FFCC5C;}
.palette70.fillc {color: #AAD8B0;}
.palette70.fillbg {background: #AAD8B0;}
.palette70.s1c {color: #96CEB4;}
.palette70.s1bg {background: #96CEB4;}
.palette70.s2c {color: #FF6F69;}
.palette70.s2bg {background: #FF6F69;}
.palette72.h1c {color: #EFC94C;}
.palette72.h1bg {background: #EFC94C;}
.palette72.h2c {color: #E27A3F;}
.palette72.h2bg {background: #E27A3F;}
.palette72.fillc {color: #45B29D;}
.palette72.fillbg {background: #45B29D;}
.palette72.s1c {color: #DF5A49;}
.palette72.s1bg {background: #DF5A49;}
.palette72.s2c {color: #334D5C;}
.palette72.s2bg {background: #334D5C;}
.palette73.h1c {color: #F7F2B2;}
.palette73.h1bg {background: #F7F2B2;}
.palette73.h2c {color: #ADCF4F;}
.palette73.h2bg {background: #ADCF4F;}
.palette73.fillc {color: #84815B;}
.palette73.fillbg {background: #84815B;}
.palette73.s1c {color: #8E3557;}
.palette73.s1bg {background: #8E3557;}
.palette73.s2c {color: #4A1A2C;}
.palette73.s2bg {background: #4A1A2C;}
.palette71.h1c {color: #F5E5C0;}
.palette71.h1bg {background: #F5E5C0;}
.palette71.h2c {color: #F8CA4D;}
.palette71.h2bg {background: #F8CA4D;}
.palette71.fillc {color: #EA6045;}
.palette71.fillbg {background: #EA6045;}
.palette71.s1c {color: #3F5666;}
.palette71.s1bg {background: #3F5666;}
.palette71.s2c {color: #2F3440;}
.palette71.s2bg {background: #2F3440;}
.palette69.h1c {color: #FFFFFF;}
.palette69.h1bg {background: #FFFFFF;}
.palette69.h2c {color: #D7DADB;}
.palette69.h2bg {background: #D7DADB;}
.palette69.fillc {color: #6DBCDB;}
.palette69.fillbg {background: #6DBCDB;}
.palette69.s1c {color: #FC4349;}
.palette69.s1bg {background: #FC4349;}
.palette69.s2c {color: #2C3E50;}
.palette69.s2bg {background: #2C3E50;}
.palette76.h1c {color: #ECEBF0;}
.palette76.h1bg {background: #ECEBF0;}
.palette76.h2c {color: #C1CE96;}
.palette76.h2bg {background: #C1CE96;}
.palette76.fillc {color: #687D77;}
.palette76.fillbg {background: #687D77;}
.palette76.s1c {color: #484A47;}
.palette76.s1bg {background: #484A47;}
.palette76.s2c {color: #353129;}
.palette76.s2bg {background: #353129;}
.palette75.h1c {color: #EDF7F2;}
.palette75.h1bg {background: #EDF7F2;}
.palette75.h2c {color: #B5E655;}
.palette75.h2bg {background: #B5E655;}
.palette75.fillc {color: #7FC6BC;}
.palette75.fillbg {background: #7FC6BC;}
.palette75.s1c {color: #96CA2D;}
.palette75.s1bg {background: #96CA2D;}
.palette75.s2c {color: #4BB5C1;}
.palette75.s2bg {background: #4BB5C1;}
.palette78.h1c {color: #FDE792;}
.palette78.h1bg {background: #FDE792;}
.palette78.h2c {color: #A9CC66;}
.palette78.h2bg {background: #A9CC66;}
.palette78.fillc {color: #D1570D;}
.palette78.fillbg {background: #D1570D;}
.palette78.s1c {color: #477725;}
.palette78.s1bg {background: #477725;}
.palette78.s2c {color: #5A1F00;}
.palette78.s2bg {background: #5A1F00;}
.palette74.h1c {color: #F2EBBF;}
.palette74.h1bg {background: #F2EBBF;}
.palette74.h2c {color: #F3B562;}
.palette74.h2bg {background: #F3B562;}
.palette74.fillc {color: #8CBEB2;}
.palette74.fillbg {background: #8CBEB2;}
.palette74.s1c {color: #F06060;}
.palette74.s1bg {background: #F06060;}
.palette74.s2c {color: #5C4B51;}
.palette74.s2bg {background: #5C4B51;}
.palette77.h1c {color: #F9E4AD;}
.palette77.h1bg {background: #F9E4AD;}
.palette77.h2c {color: #E6B098;}
.palette77.h2bg {background: #E6B098;}
.palette77.fillc {color: #CC4452;}
.palette77.fillbg {background: #CC4452;}
.palette77.s1c {color: #723147;}
.palette77.s1bg {background: #723147;}
.palette77.s2c {color: #31152B;}
.palette77.s2bg {background: #31152B;}
.palette81.h1c {color: #E8F8FF;}
.palette81.h1bg {background: #E8F8FF;}
.palette81.h2c {color: #B4DCED;}
.palette81.h2bg {background: #B4DCED;}
.palette81.fillc {color: #91C9E8;}
.palette81.fillbg {background: #91C9E8;}
.palette81.s1c {color: #67B8DE;}
.palette81.s1bg {background: #67B8DE;}
.palette81.s2c {color: #3399CC;}
.palette81.s2bg {background: #3399CC;}
.palette80.h1c {color: #F0E14C;}
.palette80.h1bg {background: #F0E14C;}
.palette80.h2c {color: #FFBB20;}
.palette80.h2bg {background: #FFBB20;}
.palette80.fillc {color: #FA7B12;}
.palette80.fillbg {background: #FA7B12;}
.palette80.s1c {color: #59CC0D;}
.palette80.s1bg {background: #59CC0D;}
.palette80.s2c {color: #E85305;}
.palette80.s2bg {background: #E85305;}
.palette83.h1c {color: #EFC94C;}
.palette83.h1bg {background: #EFC94C;}
.palette83.h2c {color: #E27A3F;}
.palette83.h2bg {background: #E27A3F;}
.palette83.fillc {color: #45B29D;}
.palette83.fillbg {background: #45B29D;}
.palette83.s1c {color: #DF5A49;}
.palette83.s1bg {background: #DF5A49;}
.palette83.s2c {color: #334D5C;}
.palette83.s2bg {background: #334D5C;}
.palette84.h1c {color: #FF8C00;}
.palette84.h1bg {background: #FF8C00;}
.palette84.h2c {color: #FF2D00;}
.palette84.h2bg {background: #FF2D00;}
.palette84.fillc {color: #04756F;}
.palette84.fillbg {background: #04756F;}
.palette84.s1c {color: #D90000;}
.palette84.s1bg {background: #D90000;}
.palette84.s2c {color: #2E0927;}
.palette84.s2bg {background: #2E0927;}
.palette82.h1c {color: #F4F7D9;}
.palette82.h1bg {background: #F4F7D9;}
.palette82.h2c {color: #A4CFBE;}
.palette82.h2bg {background: #A4CFBE;}
.palette82.fillc {color: #6C6E58;}
.palette82.fillbg {background: #6C6E58;}
.palette82.s1c {color: #417378;}
.palette82.s1bg {background: #417378;}
.palette82.s2c {color: #3E423A;}
.palette82.s2bg {background: #3E423A;}
.palette79.h1c {color: #F6FFE0;}
.palette79.h1bg {background: #F6FFE0;}
.palette79.h2c {color: #E2F0D6;}
.palette79.h2bg {background: #E2F0D6;}
.palette79.fillc {color: #BDD684;}
.palette79.fillbg {background: #BDD684;}
.palette79.s1c {color: #95AB63;}
.palette79.s1bg {background: #95AB63;}
.palette79.s2c {color: #10222B;}
.palette79.s2bg {background: #10222B;}
.palette87.h1c {color: #F2E2AF;}
.palette87.h1bg {background: #F2E2AF;}
.palette87.h2c {color: #75A870;}
.palette87.h2bg {background: #75A870;}
.palette87.fillc {color: #688B9E;}
.palette87.fillbg {background: #688B9E;}
.palette87.s1c {color: #8E2239;}
.palette87.s1bg {background: #8E2239;}
.palette87.s2c {color: #0A1A71;}
.palette87.s2bg {background: #0A1A71;}
.palette85.h1c {color: #FFFFCB;}
.palette85.h1bg {background: #FFFFCB;}
.palette85.h2c {color: #C9FFD5;}
.palette85.h2bg {background: #C9FFD5;}
.palette85.fillc {color: #74CEB7;}
.palette85.fillbg {background: #74CEB7;}
.palette85.s1c {color: #2C858D;}
.palette85.s1bg {background: #2C858D;}
.palette85.s2c {color: #004056;}
.palette85.s2bg {background: #004056;}
.palette86.h1c {color: #D5FBFF;}
.palette86.h1bg {background: #D5FBFF;}
.palette86.h2c {color: #9FBCBF;}
.palette86.h2bg {background: #9FBCBF;}
.palette86.fillc {color: #59D8E6;}
.palette86.fillbg {background: #59D8E6;}
.palette86.s1c {color: #647678;}
.palette86.s1bg {background: #647678;}
.palette86.s2c {color: #2F3738;}
.palette86.s2bg {background: #2F3738;}
.palette88.h1c {color: #FFFFFF;}
.palette88.h1bg {background: #FFFFFF;}
.palette88.h2c {color: #FFC0A9;}
.palette88.h2bg {background: #FFC0A9;}
.palette88.fillc {color: #C9D787;}
.palette88.fillbg {background: #C9D787;}
.palette88.s1c {color: #FF8598;}
.palette88.s1bg {background: #FF8598;}
.palette88.s2c {color: #7D8A2E;}
.palette88.s2bg {background: #7D8A2E;}
.palette89.h1c {color: #D9D7AC;}
.palette89.h1bg {background: #D9D7AC;}
.palette89.h2c {color: #8F8164;}
.palette89.h2bg {background: #8F8164;}
.palette89.fillc {color: #4F6373;}
.palette89.fillbg {background: #4F6373;}
.palette89.s1c {color: #293845;}
.palette89.s1bg {background: #293845;}
.palette89.s2c {color: #14212B;}
.palette89.s2bg {background: #14212B;}
.palette92.h1c {color: #F4EED8;}
.palette92.h1bg {background: #F4EED8;}
.palette92.h2c {color: #F9E270;}
.palette92.h2bg {background: #F9E270;}
.palette92.fillc {color: #76D6D2;}
.palette92.fillbg {background: #76D6D2;}
.palette92.s1c {color: #EF6F56;}
.palette92.s1bg {background: #EF6F56;}
.palette92.s2c {color: #596B56;}
.palette92.s2bg {background: #596B56;}
.palette91.h1c {color: #FFFFFF;}
.palette91.h1bg {background: #FFFFFF;}
.palette91.h2c {color: #DFD3B6;}
.palette91.h2bg {background: #DFD3B6;}
.palette91.fillc {color: #A8C545;}
.palette91.fillbg {background: #A8C545;}
.palette91.s1c {color: #0092B2;}
.palette91.s1bg {background: #0092B2;}
.palette91.s2c {color: #776045;}
.palette91.s2bg {background: #776045;}
.palette93.h1c {color: #FFD393;}
.palette93.h1bg {background: #FFD393;}
.palette93.h2c {color: #FF974F;}
.palette93.h2bg {background: #FF974F;}
.palette93.fillc {color: #9C9B7A;}
.palette93.fillbg {background: #9C9B7A;}
.palette93.s1c {color: #F54F29;}
.palette93.s1bg {background: #F54F29;}
.palette93.s2c {color: #405952;}
.palette93.s2bg {background: #405952;}
.palette94.h1c {color: #E6D4A7;}
.palette94.h1bg {background: #E6D4A7;}
.palette94.h2c {color: #A8AD80;}
.palette94.h2bg {background: #A8AD80;}
.palette94.fillc {color: #5D917D;}
.palette94.fillbg {background: #5D917D;}
.palette94.s1c {color: #825534;}
.palette94.s1bg {background: #825534;}
.palette94.s2c {color: #36362C;}
.palette94.s2bg {background: #36362C;}
.palette95.h1c {color: #FFFFFF;}
.palette95.h1bg {background: #FFFFFF;}
.palette95.h2c {color: #FF9800;}
.palette95.h2bg {background: #FF9800;}
.palette95.fillc {color: #7E8AA2;}
.palette95.fillbg {background: #7E8AA2;}
.palette95.s1c {color: #263248;}
.palette95.s1bg {background: #263248;}
.palette95.s2c {color: #000000;}
.palette95.s2bg {background: #000000;}
.palette97.h1c {color: #9768D1;}
.palette97.h1bg {background: #9768D1;}
.palette97.h2c {color: #7B52AB;}
.palette97.h2bg {background: #7B52AB;}
.palette97.fillc {color: #553285;}
.palette97.fillbg {background: #553285;}
.palette97.s1c {color: #36175E;}
.palette97.s1bg {background: #36175E;}
.palette97.s2c {color: #25064D;}
.palette97.s2bg {background: #25064D;}
.palette96.h1c {color: #FFE11A;}
.palette96.h1bg {background: #FFE11A;}
.palette96.h2c {color: #BEDB39;}
.palette96.h2bg {background: #BEDB39;}
.palette96.fillc {color: #FD7400;}
.palette96.fillbg {background: #FD7400;}
.palette96.s1c {color: #1F8A70;}
.palette96.s1bg {background: #1F8A70;}
.palette96.s2c {color: #004358;}
.palette96.s2bg {background: #004358;}
.palette98.h1c {color: #FF1D23;}
.palette98.h1bg {background: #FF1D23;}
.palette98.h2c {color: #D40D12;}
.palette98.h2bg {background: #D40D12;}
.palette98.fillc {color: #94090D;}
.palette98.fillbg {background: #94090D;}
.palette98.s1c {color: #5C0002;}
.palette98.s1bg {background: #5C0002;}
.palette98.s2c {color: #450003;}
.palette98.s2bg {background: #450003;}
.palette90.h1c {color: #7ABAF2;}
.palette90.h1bg {background: #7ABAF2;}
.palette90.h2c {color: #4192D9;}
.palette90.h2bg {background: #4192D9;}
.palette90.fillc {color: #0074D9;}
.palette90.fillbg {background: #0074D9;}
.palette90.s1c {color: #004B8D;}
.palette90.s1bg {background: #004B8D;}
.palette90.s2c {color: #00305A;}
.palette90.s2bg {background: #00305A;}
.palette100.h1c {color: #8DB500;}
.palette100.h1bg {background: #8DB500;}
.palette100.h2c {color: #00856A;}
.palette100.h2bg {background: #00856A;}
.palette100.fillc {color: #005869;}
.palette100.fillbg {background: #005869;}
.palette100.s1c {color: #2C2233;}
.palette100.s1bg {background: #2C2233;}
.palette100.s2c {color: #5E0042;}
.palette100.s2bg {background: #5E0042;}
.palette101.h1c {color: #F4EFDC;}
.palette101.h1bg {background: #F4EFDC;}
.palette101.h2c {color: #BA9B65;}
.palette101.h2bg {background: #BA9B65;}
.palette101.fillc {color: #799AE0;}
.palette101.fillbg {background: #799AE0;}
.palette101.s1c {color: #365FB7;}
.palette101.s1bg {background: #365FB7;}
.palette101.s2c {color: #133463;}
.palette101.s2bg {background: #133463;}
.palette103.h1c {color: #E4F1DB;}
.palette103.h1bg {background: #E4F1DB;}
.palette103.h2c {color: #AAC19B;}
.palette103.h2bg {background: #AAC19B;}
.palette103.fillc {color: #9BAAC1;}
.palette103.fillbg {background: #9BAAC1;}
.palette103.s1c {color: #82787B;}
.palette103.s1bg {background: #82787B;}
.palette103.s2c {color: #686E75;}
.palette103.s2bg {background: #686E75;}
.palette102.h1c {color: #F0C600;}
.palette102.h1bg {background: #F0C600;}
.palette102.h2c {color: #FF9000;}
.palette102.h2bg {background: #FF9000;}
.palette102.fillc {color: #8EA106;}
.palette102.fillbg {background: #8EA106;}
.palette102.s1c {color: #DB5800;}
.palette102.s1bg {background: #DB5800;}
.palette102.s2c {color: #59631E;}
.palette102.s2bg {background: #59631E;}
.palette105.h1c {color: #E1E6FA;}
.palette105.h1bg {background: #E1E6FA;}
.palette105.h2c {color: #C4D7ED;}
.palette105.h2bg {background: #C4D7ED;}
.palette105.fillc {color: #ABC8E2;}
.palette105.fillbg {background: #ABC8E2;}
.palette105.s1c {color: #375D81;}
.palette105.s1bg {background: #375D81;}
.palette105.s2c {color: #183152;}
.palette105.s2bg {background: #183152;}
.palette107.h1c {color: #F2CA80;}
.palette107.h1bg {background: #F2CA80;}
.palette107.h2c {color: #BF8A49;}
.palette107.h2bg {background: #BF8A49;}
.palette107.fillc {color: #73603D;}
.palette107.fillbg {background: #73603D;}
.palette107.s1c {color: #5E5A59;}
.palette107.s1bg {background: #5E5A59;}
.palette107.s2c {color: #0D0D0D;}
.palette107.s2bg {background: #0D0D0D;}
.palette106.h1c {color: #F0CEB7;}
.palette106.h1bg {background: #F0CEB7;}
.palette106.h2c {color: #F39EB5;}
.palette106.h2bg {background: #F39EB5;}
.palette106.fillc {color: #F46D8D;}
.palette106.fillbg {background: #F46D8D;}
.palette106.s1c {color: #A7304F;}
.palette106.s1bg {background: #A7304F;}
.palette106.s2c {color: #081028;}
.palette106.s2bg {background: #081028;}
.palette108.h1c {color: #DC8505;}
.palette108.h1bg {background: #DC8505;}
.palette108.h2c {color: #EC5519;}
.palette108.h2bg {background: #EC5519;}
.palette108.fillc {color: #717400;}
.palette108.fillbg {background: #717400;}
.palette108.s1c {color: #BE2805;}
.palette108.s1bg {background: #BE2805;}
.palette108.s2c {color: #32450C;}
.palette108.s2bg {background: #32450C;}
.palette104.h1c {color: #DDDCC5;}
.palette104.h1bg {background: #DDDCC5;}
.palette104.h2c {color: #958976;}
.palette104.h2bg {background: #958976;}
.palette104.fillc {color: #6A6A61;}
.palette104.fillbg {background: #6A6A61;}
.palette104.s1c {color: #611427;}
.palette104.s1bg {background: #611427;}
.palette104.s2c {color: #1D2326;}
.palette104.s2bg {background: #1D2326;}
.palette110.h1c {color: #FF822E;}
.palette110.h1bg {background: #FF822E;}
.palette110.h2c {color: #FF6D1F;}
.palette110.h2bg {background: #FF6D1F;}
.palette110.fillc {color: #FF6517;}
.palette110.fillbg {background: #FF6517;}
.palette110.s1c {color: #FA5B0F;}
.palette110.s1bg {background: #FA5B0F;}
.palette110.s2c {color: #EF5411;}
.palette110.s2bg {background: #EF5411;}
.palette111.h1c {color: #D9CB9E;}
.palette111.h1bg {background: #D9CB9E;}
.palette111.h2c {color: #DC3522;}
.palette111.h2bg {background: #DC3522;}
.palette111.fillc {color: #374140;}
.palette111.fillbg {background: #374140;}
.palette111.s1c {color: #2A2C2B;}
.palette111.s1bg {background: #2A2C2B;}
.palette111.s2c {color: #1E1E20;}
.palette111.s2bg {background: #1E1E20;}
.palette109.h1c {color: #FFF6D9;}
.palette109.h1bg {background: #FFF6D9;}
.palette109.h2c {color: #E8D9AC;}
.palette109.h2bg {background: #E8D9AC;}
.palette109.fillc {color: #C7B07B;}
.palette109.fillbg {background: #C7B07B;}
.palette109.s1c {color: #705B35;}
.palette109.s1bg {background: #705B35;}
.palette109.s2c {color: #570026;}
.palette109.s2bg {background: #570026;}
.palette112.h1c {color: #FFF1AF;}
.palette112.h1bg {background: #FFF1AF;}
.palette112.h2c {color: #FFD372;}
.palette112.h2bg {background: #FFD372;}
.palette112.fillc {color: #505217;}
.palette112.fillbg {background: #505217;}
.palette112.s1c {color: #290418;}
.palette112.s1bg {background: #290418;}
.palette112.s2c {color: #170F0E;}
.palette112.s2bg {background: #170F0E;}
.palette113.h1c {color: #E1B41B;}
.palette113.h1bg {background: #E1B41B;}
.palette113.h2c {color: #C98B2F;}
.palette113.h2bg {background: #C98B2F;}
.palette113.fillc {color: #C56520;}
.palette113.fillbg {background: #C56520;}
.palette113.s1c {color: #807916;}
.palette113.s1bg {background: #807916;}
.palette113.s2c {color: #803C27;}
.palette113.s2bg {background: #803C27;}
.palette99.h1c {color: #D8CAA8;}
.palette99.h1bg {background: #D8CAA8;}
.palette99.h2c {color: #5C832F;}
.palette99.h2bg {background: #5C832F;}
.palette99.fillc {color: #363942;}
.palette99.fillbg {background: #363942;}
.palette99.s1c {color: #284907;}
.palette99.s1bg {background: #284907;}
.palette99.s2c {color: #382513;}
.palette99.s2bg {background: #382513;}
.palette114.h1c {color: #D8F1E4;}
.palette114.h1bg {background: #D8F1E4;}
.palette114.h2c {color: #F1E4D8;}
.palette114.h2bg {background: #F1E4D8;}
.palette114.fillc {color: #BEBEBE;}
.palette114.fillbg {background: #BEBEBE;}
.palette114.s1c {color: #94C7BA;}
.palette114.s1bg {background: #94C7BA;}
.palette114.s2c {color: #594735;}
.palette114.s2bg {background: #594735;}
